<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="/css/main.css">
    <title>従業員の追加</title>
</head>
<body>
    <h1>従業員の追加</h1>
    
    <br>
    
    <!-- 成功メッセージ -->
    <div th:if="${successMessage}">
        <strong th:text="${successMessage}"></strong>
    </div>
    
    <!-- エラーメッセージ -->
    <div th:if="${errorMessage}">
        <strong th:text="${errorMessage}"></strong>
    </div>
    
    <form th:action="@{/add-employee}" th:object="${payrollForm}" method="post">
        
        <div>
            <label for="name">名前:</label>
            <input type="text" th:field="*{name}" id="name">
            <!-- バリデーションエラー表示 -->
            <div th:if="${#fields.hasErrors('name')}">
                <span th:errors="*{name}"></span>
            </div>
        </div>
        
        <div>
            <label for="hourlyWage">時給:</label>
            <input type="number" th:field="*{hourlyWage}" id="hourlyWage">
            <span>円</span>
            <!-- バリデーションエラー表示 -->
            <div th:if="${#fields.hasErrors('hourlyWage')}">
                <span th:errors="*{hourlyWage}"></span>
            </div>
        </div>
        
        <div>
            <input type="submit" value="従業員を追加">
        </div>
        
    </form>
	
	
	<div>
	    <a href="/attendance">勤怠管理ページに戻る</a>
	</div>
    
</body>
</html>