<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/addEmployee.css">
    <title>従業員の追加</title>
</head>

<body>
	<header>
		<img src="/img/kay-logo.svg" alt="KAY" class="logo">
	</header>
    <h1>従業員の追加</h1>
    
    <br>
    
    <!-- 成功メッセージ -->
    <div th:if="${successMessage}">
        <strong th:text="${successMessage}"></strong>
    </div>
    
    <!-- エラーメッセージ -->
    <div th:if="${errorMessage}">
        <strong th:text="${errorMessage}"></strong>
    </div>
    
    <form th:action="@{/add-employee}" th:object="${payrollForm}" method="post" class="container">
        
        <div class="namae">
            <label for="name" class="label">名前:</label>
            <input type="text" th:field="*{name}" id="name" class="form">
            <!-- バリデーションエラー表示 -->
            <div th:if="${#fields.hasErrors('name')}" class="error_div">
                <span th:errors="*{name}" class="error-message"></span>
            </div>
        </div>
        
        <div class="jikyu">
            <label for="hourlyWage" class="label">時給:</label>
            <input type="number" th:field="*{hourlyWage}" id="hourlyWage" class="form">
            <span class="label">円</span>
            <!-- バリデーションエラー表示 -->
            <div th:if="${#fields.hasErrors('hourlyWage')}" class="error_div">
                <span th:errors="*{hourlyWage}"  class="error-message"></span>
            </div>
        </div>
        
        <div class="tsuika">
            <input type="submit" value="追加" class="add_button">
        </div>
        
    </form>
	
	
	<div class="link">
	    <a href="/attendance">勤怠管理ページに戻る</a>
	</div>
    
</body>
</html>