<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/main.css">
<title>Insert title here</title>
</head>
<body>
	<!-- 管理者画面の場合 -->
 	<h1 th:if="${mode == 'manager'}">変更（管理者画面）</h1>
  	<!-- 従業員画面の場合 -->
	<h1 th:if="${mode == 'employee'}">変更申請（従業員画面）</h1>	
	
	
	<form th:action="@{/completeChange}" th:object="${form}" method="post">
		<input type="hidden" name="employeeName" th:value="${employeeName}" />
		<input type="hidden" name="attendanceId" th:field="*{attendanceId}">
		<input type="hidden" name="nameId" th:field="*{nameId}"> 
<!--		inputのvalueは最終的にvalue="${targetNameId}"になる-->
	  <p>出勤時間<input type="time" name="preCheckinTime" th:field="*{preCheckinTime}"></p>
	  <p>退勤時間<input type="time" name="preCheckoutTime" th:field="*{preCheckoutTime}"></p>
	  
	  
	  
	  <p th:if="${mode == 'employee'}">変更理由<input type="text" name="comment" th:field="*{comment}"></p>
<!--	  バリデーションエラー表示-->
	  <div th:if="${#fields.hasErrors('comment')}">
    	<span th:errors="*{comment}">エラーメッセージがここに表示されます</span>
	  </div>


	  <input type="submit" value="送信">
	</form>
	
	
	<a href="/attendance">勤怠管理ページに戻る</a>
	
</body>
</html>