<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/attendanceChange.css">
<title>Insert title here</title>
</head>

<body>
	<header>
		<img src="/img/kay-logo.svg" alt="KAY" class="logo">
	</header>-
<!-- 管理者画面の場合 -->
<h1 th:if="${mode == 'manager'}">変更（管理者画面）</h1>
<!-- 従業員画面の場合 -->
<h1 th:if="${mode == 'employee'}">変更申請（従業員画面）</h1>

<div class="container">
<form th:action="@{/completeChange}" th:object="${form}" method="post">
<input type="hidden" name="employeeName" th:value="${employeeName}" />
<input type="hidden" name="attendanceId" th:field="*{attendanceId}">
<input type="hidden" name="nameId" th:field="*{nameId}">
<!-- inputのvalueは最終的にvalue="${targetNameId}"になる-->
<p class="shukkin">
<label for="preCheckinTime">出勤時間:</label>
<input type="time" id="preCheckinTime" name="preCheckinTime" th:field="*{preCheckinTime}"
class="form" required>
</p>

<p class="taikin">
<label for="preCheckoutTime">退勤時間:</label>
<input type="time" id="preCheckoutTime" name="preCheckoutTime" th:field="*{preCheckoutTime}"
class="form" required>
</p>
<!-- バリデーションエラー表示 - Updated structure -->
<div class="validation-message" th:if="${#fields.hasErrors('preCheckoutTime')}">
<p th:errors="*{preCheckoutTime}">退勤エラーメッセージがここに表示されます</p>
</div>

<p class="reason" th:if="${mode == 'employee'}">
<label for="comment">変更理由:</label>
<input type="text" id="comment" name="comment" th:field="*{comment}" class="form">
</p>
<!-- バリデーションエラー表示 - Updated structure -->
<div class="validation-message" th:if="${#fields.hasErrors('comment')}">
<p th:errors="*{comment}">エラーメッセージがここに表示されます</p>
</div>

<input type="submit" value="送信" class="submit_button">
</form>
</div>

<a href="/attendance" class="link">勤怠管理ページに戻る</a>

</body>

</html>