<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/auth.css">
    <title>管理者ログイン</title>
</head>


<body>
	<header></header>
    <h1>管理者ログイン</h1>


    <!-- ログインフォーム -->
    <form th:action="@{/auth}" method="post">
        <div>
            <label for="password" class="password">パスワード:</label>
            <input type="password" id="password" name="password" required>
        </div>
        
        <div>
            <button type="submit" class="login">ログイン</button>
        </div>
    </form>
	
	<!-- エラーメッセージ表示 -->
	<div class="validation-message" th:if="${error}">
	<p th:text="${error}"></p>
	</div>

    <div class="center-URL">
        <a href="/" class="link">メインページに戻る</a>
    </div>

</body>
</html>