<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/auth.css">
    <title>管理者ログイン</title>
</head>
<body>
    <h1>管理者ログイン</h1>

    <!-- エラーメッセージ表示 -->
    <div th:if="${error}">
        <p th:text="${error}" style="color: red;"></p>
    </div>

    <!-- ログインフォーム -->
    <form th:action="@{/auth}" method="post">
        <div>
            <label for="password">パスワード:</label>
            <input type="password" id="password" name="password" required>
        </div>
        
        <div>
            <button type="submit">ログイン</button>
        </div>
    </form>

    <div class="center-URL">
        <a href="/">メインページに戻る</a>
    </div>

    <!-- 研修用情報 -->
    <p>研修用パスワード: team3</p>
</body>
</html>