<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>勤怠管理システム</title>
</head>

<body>
	<h1>勤怠管理システム（メインページ）</h1>

	<form method="post">
		<div>
			<label for="employeeName">名前を選んでください</label>
			<select id="employeeName" name="employeeName" required>
				<option value="">選択してください</option>
				<option th:each="entity : ${nameList}" th:value="${entity.name}" th:text="${entity.name}"></option>
			</select>
		</div>

		<div>
			<button type="submit" formaction="/checkin">出勤</button>
			<div th:if="${errorMessage}" style="color: red;">
				<p th:text="${errorMessage}"></p>
			</div>
			<button type="submit" formaction="/checkout">退勤</button>
		</div>
	</form>

	<div>
		<form th:action="@{/auth}" method="get">
		        <button type="submit">管理者ページへ</button>
		    </form>

		<form th:action="@{/attendance}" method="get">
				<button type="submit">打刻管理ページへ</button>
			</form>
		

	</div>
	</div>
	
	
	<p>現在の日時: <span id="datetime"></span></p>
	
	<script>
		function updateDateTime(){
			const now = new Date();
			const date = now.toLocaleDateString();
			const time = now.toLocaleTimeString();
			document.getElementById('datetime').textContent = date + ' ' + time;
		}
		
		updateDateTime();
		setInterval(updateDateTime, 1000);
	 </script>
	
	
</body>

</html>