<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理者画面</title>
</head>
<body>
    <h1>管理者画面（管理者ページ）</h1>
    
    <div>
        <a href="/logout">ログアウト</a>
        <a href="/">メインページに戻る</a>
    </div>

    <form th:action="@{/attendanceAgree}" method="get">
        <button type="submit">打刻変更確認</button>
    </form>

    <form th:action="@{/payroll}" method="get">
        <button type="submit">給与計算</button>
    </form>

    <form th:action="@{/attendance}" method="get">
        <input type="hidden" name="mode" value="manager">
        <button type="submit">勤怠管理</button>
    </form>
	
	<script th:src="@{/js/manager.js}"></script>
</body>
</html>