<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/payroll.css">
<title>給与計算</title>
</head>

<body>
	<header>
		<img src="/img/kay-logo.svg" alt="KAY" class="logo">
	</header>
<!-- ヘッダー部分 - タイトルと戻るリンク -->
<div class="header-container">
    <h1>給与計算</h1>
    <a href="/manager" class="link">管理者ページに戻る</a>
</div>

<!-- フィルター部分 -->
<div class="filter-form-container">
    <form th:action="@{/payroll}" method="get">
        <div class="filter-container">
            <label for="filterMonth">月を選択:</label>
            <select id="filterMonth" name="filterMonth">
                <option value="1" th:selected="${filterMonth == '1'}">1月</option>
                <option value="2" th:selected="${filterMonth == '2'}">2月</option>
                <option value="3" th:selected="${filterMonth == '3'}">3月</option>
                <option value="4" th:selected="${filterMonth == '4'}">4月</option>
                <option value="5" th:selected="${filterMonth == '5'}">5月</option>
                <option value="6" th:selected="${filterMonth == '6'}">6月</option>
                <option value="7" th:selected="${filterMonth == '7'}">7月</option>
                <option value="8" th:selected="${filterMonth == '8'}">8月</option>
                <option value="9" th:selected="${filterMonth == '9'}">9月</option>
                <option value="10" th:selected="${filterMonth == '10'}">10月</option>
                <option value="11" th:selected="${filterMonth == '11'}">11月</option>
                <option value="12" th:selected="${filterMonth == '12'}">12月</option>
            </select>
        </div>
        
        <div class="search-button">
            <button type="submit">検索</button>
        </div>
    </form>
</div>

<!-- テーブル表示部分 -->
<div th:if="${not #lists.isEmpty(payrollList)}">
    <table border="1">
        <thead>
            <tr>
                <th>名前</th>
                <th>時給</th>
                <th>出勤時間</th>
                <th>深夜労働時間</th>
                <th>出勤回数</th>
                <th>賄い代と交通費の総額</th>
                <th>月給</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="payroll : ${payrollList}">
                <td th:text="${payroll.name}">名前</td>
                <td th:text="${payroll.hourlyWage}">時給</td>
                <td th:text="${payroll.totalWorkingTime}">出勤時間</td>
                <td th:text="${payroll.nightWorkingTime}">深夜労働時間</td>
                <td th:text="${payroll.daysWorked}">出勤回数</td>
                <td th:text="${payroll.transportation}">賄い代と交通費の総額</td>
                <td th:text="${payroll.totalAmount}">月給</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- データがない場合 -->
<div class="no-data" th:if="${#lists.isEmpty(payrollList)}">
    この月の記録はありません
</div>

</body>

</html>